body {
    background: #c4e1ff;
    font-family: 'Segoe UI';
}

.sidebar {
    width: 220px;
    height: 100vh;
    position: fixed;
    background: #1e3a8a;
    color: white;
    padding: 20px;
}

.sidebar a {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 8px;
    margin-bottom: 5px;
}

.sidebar a:hover {
    background: #3b82f6;
}

.content {
    margin-left: 240px;
    padding: 20px;
}

.card {
    border-radius: 15px;
}